* {
    background-color: rgb(255, 208, 232);
    color: #333;
}

body {
    padding: 15%;
}

p {
    font-weight: bolder;
    font-size: 13px;
    font-style: italic;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 40px;
    font-size: 13px;
    margin: 0;
    background-color: #FFF;
    border: none;
}

.Photo input::file-selector-button {
    width: 100%;
    height: 40px;
    font-size: 13px;
    margin: 0;
    background-color: rgb(208, 208, 208);
    text-align: center;
    border-width: 1px;

}

.Date_start_end {
    display: flex;
    justify-content: space-around;
}

.Date input {
    width: 110px;
    height: 40px;
    font-size: 13px;
    margin: 0;
    background-color: #FFF;
    border: none;
}

.Caption input {
    width: 100%;
    height: 100px;
}

.public_private , .public_public {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.Public input[type="radio"] {
    accent-color: #333;
    transform: scale(0.5);
    margin: 0;
}

.Public label {
    width: 200px;
}

.Delete a {
    font-size: 13px;
    color: #FFF;
    background-color: #333;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px;
}

.Store a {
    font-size: 13px;
    color: #FFF;
    background-color: #333;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px;
}

.link {
    display: flex;
    justify-content: center;
}
