
body {
    background-color: rgb(254, 249, 234);
    color: #333;
    padding: 15%;
}

h1 {
    font-weight: bolder;
    font-size: 13px;
    font-style: italic;
    margin: 10px 0;
}

p {
    width: 100%;
    font-size: 13px;
    margin: 0;
    background-color: rgb(254, 249, 234);
    border-style: solid;
    border-color: #FFF;
}

.swiper {
    margin: 10px;
}

.swiper--wrapper {
    /* wrapperのサイズを調整 */
    width: 100%;
    height: 300px;
}

.swiper-slide {
    /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
    width: 100%;
    height: 100%;
    line-height: 300px;
    text-align: center;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin: 0 0 0 10px !important;
    background: #333 !important;
}

.swiper-pagination-bullet:first-child {
    margin: 0 !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 1.5rem;
    color: #FFF;
    }

.Date_start_end {
    display: flex;
    justify-content: space-around;
}

.Date input {
    width: 110px;
    height: 40px;
    font-size: 13px;
    margin: 0;
    background-color: #FFF;
    border: none;
}

.article_tag{
    display: inline-block;
    font-size: 13px;
    border: #333;
    background-color: #FFF;
    width: fit-content;
    clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%);
    padding: 0 20px 0 0;
}

.Caption input {
    width: 100%;
    height: 100px;
}

#map{
    width: 100%;  /* 地図の横幅を調整 */
    height: 400px; /* 地図の高さを調整 */
    margin: 0;
}

.Like {
    text-align: center;
    margin: 20px 0;
}

.Like a {
    font-size: 13px;
    color: #333;
    background-color: rgb(244, 208, 0);
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
}


.Comment {
    padding: 20px 0;
}

.Comment input {
    width: 100%;
    height: 100px;
    background-color: #FFF;
    border: none;
}


.Comment a {
    font-size: 13px;
    color: #FFF;
    background-color: #333;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px 0;
}

.Comment_a {
    margin: 20px;
    text-align: center;
}