.search{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.search_box{
    margin-right: 10px;
    height: 30px;
    width: 220px;
}
.search_button{
    height: 30px;
    width: 60px;
    border: none;
    background-color: yellow;
    /* ↑いったん見えないから黄色にしてる */
}
.tags{
    background-color: yellow; 
    /* ↑いったん見えないから黄色にしてる */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tag{
    font-size: 10px;
    border: #333;
    background-color: #FFF;
    width: fit-content;
    clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%);
    padding: 0 10px 0 0;
}


/* 記事一覧nao */
a {
    color: #333;
}

.article_card_link {
    text-decoration: none;
    display: flex;
    background-color: rgb(254, 255, 196);
    padding: 5px 0;
    border: solid;
    border-color: #333;

}

.article_card_left {
    width: 120px;
    padding: 0 5px;
}

.article_card_right {
    width: 60%;
    padding: 0 5px;
}

.username {
    font-weight: bolder;
    font-style: italic;
    font-size: 13px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.travel_img {
    width: 120px;
    height: 120px;
    text-align: center;

}

.where {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;

    
}

.country {
    font-weight: bolder;
    font-style: italic;
    font-size: 13px;
}

.city {
    font-weight: bolder;
    font-style: italic;
    font-size: 13px;
}

.date {
    font-size: 13px;
    margin: 0;
}

.article_tag {
    font-size: 13px;
    border: #333;
    background-color: #FFF;
    width: fit-content;
    clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%);
    padding: 0 10px 0 0;
    margin: 5px 0;
}

.like_and_comment {
    display: flex;
}

.like {
    display: flex;
    font-size: 10px;
}

.like_icon {
    width: 20px;
    height: 20px;
    text-align: center;
}


.comment {
    display: flex;
    font-size: 10px;
}

.comment_icon {
    width: 20px;
    height: 20px;
    text-align: center;
}
